# This requirements are for development and testing only, not for production.
pytest
coverage
flake8
black
isort
pytest-cov
codecov
mypy
gitchangelog
mkdocs
astropy
#--extra-index-url https://artefact.skao.int/repository/pypi-internal/simple
rascil==0.6.0
